/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: .5rem;
  margin: 0;

}

@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
}

h1 {
    font-family: norse-bold;
    color: white;
    font-size: 7rem;
}

h2,
h3,
p,
form {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    position: relative;
}

.hero-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: center url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    width: 40vw;
    height: 100vh;
    position: relative;
}

.hero-div div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding:1rem 0rem;
    position: absolute;
    top: 30vh;
    width: 100%;
}

.odin-logo {
    height: 8rem;
}

.content-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.content-div h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.content-1 {
    padding-right: 20%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 5rem;
}

em {
    font-style: italic;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.form-row div {
    display: flex;
    flex-direction: column;
}

label {
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 600;
    color: #2A2A2A;
}

input {
    border: solid 2px #E5E7EB;
    border-radius: 3px;
    width: 18rem;
}

input:focus {
    outline: none;
    border: solid 1px blue;
    box-shadow: .1rem .1rem .3rem .1rem rgba(0,0,0,0.19);
}